.content_container{
    .chart_container_up{
        display: flex;
        gap: 5px;
        .population_change_chart{
            margin-top: 10px;
        }
        .population_classification{
            margin-top: 10px;

        }
    }
    .chart_container_down{
        .gender_chart{
            margin-top: 10px;
        }
    }
}
