.content_container{
    .detail_info{
        .house_hold_members{
            .staying_avt_img{
                width: 150px;
                height: 150px;
                border-radius: 50%;
                object-fit: cover;
                border: 4px solid rgb(255, 221, 221);
            }
        }
    }
}
