@import "partials/header";
@import "partials/sidebar";
@import "pages/house_hold";

* {
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    border: none;
}

body {
    background-color: #BF517C;

    .container {
        max-width: 1280px;
        margin: 0 auto;
    }

    .main {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }
}



