.page_header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 14px 10px 14px 10px;
  border-radius: 15px;
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
}
.page_header .logo {
  justify-content: center;
  display: inline-block;
}
.page_header .logo .logo_img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.page_header .page_title {
  margin: 0 auto;
}
.page_header .page_title h1 {
  margin: 0px;
  font-weight: 600;
  font-size: 32px;
  flex: 2;
}

/*Menubar sass*/
.nav_menu {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  align-items: center;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav_menu .navigator .nav_menu__heading {
  padding: 24px 60px 36px 60px;
  color: #141414;
  font-size: 32px;
  display: flex;
  align-items: center;
  text-align: center;
}
.nav_menu .navigator .nav_menu_items {
  list-style: none;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 50px 10px 40px 10px;
  border-radius: 20px;
  padding-left: 0px;
}
.nav_menu .navigator .nav_menu_items .item_actived {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
.nav_menu .navigator .nav_menu_items li {
  padding: 14px 0px 14px 20px;
}
.nav_menu .navigator .nav_menu_items li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #141414;
}
.nav_menu .navigator .nav_menu_items li:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
.nav_menu .user_type {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  width: 95%;
  margin: 10px auto;
  text-align: center;
}
.nav_menu .user_type p {
  padding: 10px 20px 10px 20px;
  color: #141414;
  text-decoration: none;
}

.content_container {
  background-color: rgba(255, 255, 255, 0.5);
  width: 75%;
  border-radius: 10px;
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-direction: column;
}
.content_container .content_control {
  display: flex;
  justify-content: space-between;
  height: border-box;
}
.content_container .content_control .search_bar {
  display: flex;
  align-items: center;
}
.content_container .content_control .search_bar input {
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 5px 0px 0px 5px;
  padding: 5px 10px 5px 10px;
  font-size: 16px;
  font-weight: 500;
  color: #141414;
  background-color: rgba(255, 255, 255, 0.5);
  outline: none;
  box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.15);
}
.content_container .content_control .search_bar a {
  padding: 5px 10px 5px 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0px 5px 5px 0px;
  color: #141414;
  box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.15);
}
.content_container .content_control .primary_button {
  padding: 6px 10px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-image: linear-gradient(to bottom right, rgba(148, 0, 211, 0.6980392157), rgba(75, 0, 130, 0.6980392157));
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px #999;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}
.content_container .content_control .primary_button:hover {
  background-color: #3e8e41;
}
.content_container .content_control .primary_button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.content_container .table_of_contents {
  width: 100%;
  margin-top: 40px;
}
.content_container .table_of_contents table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  overflow: hidden;
  border-radius: 10px;
}
.content_container .table_of_contents table th, .content_container .table_of_contents table td {
  padding: 15px;
}
.content_container .table_of_contents table td {
  font-size: 14px;
  font-weight: 500;
  color: #141414;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.15);
}
.content_container .table_of_contents table th {
  background-color: rgba(255, 255, 255, 0.6);
  color: #141414;
}
.content_container .table_of_contents table tr:hover {
  background-color: #f5f5f5;
}
.content_container .table_of_contents table, .content_container .table_of_contents th, .content_container .table_of_contents td {
  border: 1px solid white;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  border: none;
}

body {
  background-color: #BF517C;
}
body .container {
  max-width: 1280px;
  margin: 0 auto;
}
body .main {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

/*# sourceMappingURL=app.css.map */
